{% extends "base.html" %} 
{% block title %} Записи сообщества {{group.title}} {% endblock %}

{% block content %}
    <div class="container">
           <h1> {{group.title}}</h1>
           <p>{{group.description}}</p>
            <!-- Вывод ленты записей -->
                {% for post in page %}
                  <!-- Вот он, новый include! -->
                    {% include "post_item.html" with post=post %}
                {% endfor %}
    </div>

        <!-- Вывод паджинатора -->
        {% if page.has_other_pages %}
            {% include "paginator.html" with items=page paginator=paginator%}
        {% endif %}

{% endblock %}