{% extends 'base.html' %}
{% block title %} Profile for {{ author.get_full_name}} {% endblock %}
{% block content %}
<main role="main" class="container">
    <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                    <div class="card">
                            <div class="card-body">
                                    <div class="h2">
                                        <!-- Имя автора -->
                                        {{ author.get_full_name}}
                                    </div>
                                    <div class="h3 text-muted">
                                         <!-- username автора -->
                                         @{{ author.username }}
                                    </div>
                            </div>
                            <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                            <div class="h6 text-muted">
                                            Подписчиков: {{author.following.count}} <br />
                                            Подписан: {{author.follower.count}}
                                            </div>
                                    </li>
                                    <li class="list-group-item">
                                            <div class="h6 text-muted">
                                                <!-- Количество записей -->
                                                Записей: {{ paginator.count }}
                                            </div>
                                    </li>
                                    <li class="list-group-item">
                                        {% if request.user != author %}
                                        {% if following %}
                                        <a class="btn btn-lg btn-light" 
                                                href="{% url 'profile_unfollow' author.username %}" role="button"> 
                                                Отписаться 
                                        </a> 
                                        {% else %}
                                        <a class="btn btn-lg btn-primary" 
                                                href="{% url 'profile_follow' author.username %}" role="button">
                                                Подписаться 
                                        </a>
                                        {% endif %}
                                        {% endif %}
                                    </li>
                            </ul>
                    </div>
            </div>

            <div class="col-md-9">                

                <!-- Начало блока с отдельным постом -->
                {% for post in page %}
                  <!-- Вот он, новый include! -->
                    {% include "post_item.html" with post=post %}
                {% endfor %}

                <!-- Остальные посты --> 
                
                <!-- Здесь постраничная навигация паджинатора -->
                                             
                {% if page.has_other_pages %}
                    {% include "paginator.html" with items=page paginator=paginator%}
                {% endif %}
     </div>
    </div>
</main>
{% endblock%}